@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .rounded-custom {
    border-radius: 2rem;
  }
  .amber-accent {
    color: #f59e0b;
  }
  .amber-bg {
    background-color: #f59e0b;
  }
  .amber-text {
    color: #f59e0b;
  }
}
